<div class="carousel">
    <a class="carousel-item " href="#one!"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDnDpKreJ_CRF47CZX3H-Fj9xde9NyXKVQXg&usqp=CAU"></a>
    <a class="carousel-item" href="#two!"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5rL-CM-mUd-eyume6IbtEmRvKZFG27ey5aQ&usqp=CAU"></a>
    <a class="carousel-item" href="#three!"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGCZbbRLUmQk8FD5x4B99-9gxXMu0WMh5Fbw&usqp=CAU"></a>
    <a class="carousel-item" href="#four!"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDB_uR7efHizC_nOjju9XzFO9QJfZYLWl9LQ&usqp=CAU"></a>
    <a class="carousel-item" href="#five!"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyA8PfnqiO-12ftPFOosSwJ7mrOYsCpiGXlw&usqp=CAU"></a>
  </div>
