.nav-wrapper {
  // background-color: #f7c600 !important;
  background-color: #fff;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  vertical-align: middle;
  padding-top:15px
}
nav{
  height: 100px;
  background-color: #fff;
}

