<nav>
    <div class="nav-wrapper">
        <a href="">
            <!-- <img src="../../../assets/images/infoUptcImg.png" width="300" height="80" alt=""> -->
            <img src="../../../assets/images/uptc.jpg" width="120" height="80" alt="">
            <img src="../../../assets/images/vieUptc.jpg" width="100" height="80" alt="">
            <img src="../../../assets/images/editorial.png" width="100" height="80" alt="">
        </a>

        <ul class="right  hide-on-med-and-down">

            <li class="nav-item">
                <a class="nav-link black-text" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="black-text" routerLink="/books">Libros </a>
            </li>
            <li class="nav-item">
                <a class="nav-link black-text" routerLink="/novelties"><span style="color:black">Novedades</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link black-text" routerLink="/convocations"><span style="color:black">Convocatorias</span>
                </a>
            </li>
        </ul>
    </div>
</nav>