<section>
    <div class="carousel carousel-slider">
        <a class="carousel-item responsive-img" href="#one!"><img
                src="https://cloudfront-us-east-1.images.arcpublishing.com/elespectador/2LRBUCUGSZDJNFWPD4NAC5RU74.jpg"></a>
        <a class="carousel-item responsive-img" href="#two!"><img src="https://pbs.twimg.com/media/CZRQJFGWYAECxFY.jpg"></a>
        <a class="carousel-item responsive-img" href="#three!"><img
                src="https://lh3.googleusercontent.com/proxy/zVp2aIFIdZSYaVWnEsAb9v7_lFBn12tJEi2WU-KAkDi_wJpjMhZfvXX3INTqympUq4HGjgTwdxnPKEufFfTd8O4gzbgx2aZ3CX1jEl35q79C0lQnwb3Gi7aCjiNZwPvgc7R1F6cOrNKCbOq0yP1ovM18Y7qlPR9fp2p7qA"></a>
        <a class="carousel-item" href="#four!"><img src="https://pbs.twimg.com/media/DtraWyxWoAIMjIu.jpg"></a>
    </div>
</section>