
<div class="container section">
    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider">
                <a class="carousel-item" href="#one!"><img src="http://www.uptc.edu.co/export/sites/default/universidad/acerca_de/imagenes_institucionales/img_003.jpg_1967860175.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="https://pbs.twimg.com/media/CZRQJFGWYAECxFY.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="https://lh3.googleusercontent.com/proxy/zVp2aIFIdZSYaVWnEsAb9v7_lFBn12tJEi2WU-KAkDi_wJpjMhZfvXX3INTqympUq4HGjgTwdxnPKEufFfTd8O4gzbgx2aZ3CX1jEl35q79C0lQnwb3Gi7aCjiNZwPvgc7R1F6cOrNKCbOq0yP1ovM18Y7qlPR9fp2p7qA"></a>
                <a class="carousel-item" href="#four!"><img src="https://pbs.twimg.com/media/DtraWyxWoAIMjIu.jpg"></a>
            </div>
        </div>
    </div>
</div>

