<div class="slider">
    <ul class="slides">
      <li> 
        <img class="responsive-img" src="https://cr00.epimg.net/emisora/imagenes/2018/11/13/tunja/1542115988_441979_1542116207_noticia_normal.jpg" > 
      </li>
      <li>
        <img class="responsive-img" src="https://pbs.twimg.com/media/DtraWyxWoAIMjIu.jpg">
      </li>
      <li>
        <img class="responsive-img"src="https://pbs.twimg.com/media/CZRQJFGWYAECxFY.jpg"> 
      </li>
      <li>
        <img class="responsive-img" src="https://lh3.googleusercontent.com/proxy/izlKCiODDiLwa7kyahJoNW9vjSCtkxhO4qShD8rfMMFEyCWOycMFpDId8ZoGmkSiQaUfl1Q_rniSp05R_cIvLz7LkaG46LQf3v5WRLEAhPVJBiiAaCNnMtLAR4U9hA50CWQd98DUnklTdjAzbNvt2kufUdba5w0pQgGE1-j6FODvq3E731DVUqBZ7b4GT30R"> 
      </li>
    </ul>
</div>