<hr>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12 ">
                <h6 class="black-text">UNIVERSIDAD PEDAGOGICA Y</h6>
                <h6 class="black-text">TECNOLOGICA DE COLOMBIA</h6>
                <p class="black-text text-lighten-4"></p>
                <p class="black-text text-lighten-4 ">
                    Sede Central Tunja–Boyacá–Colombia <br>
                    Avenida Central del Norte 39-115 <br>
                    PBX: (57+8) 7405626 <br>
                    portalweb@uptc.edu.co Comentarios de este sitio <br>
                    Horario de atención y servicio telefónico <br>
                    Lunes a viernes de 8:00 a.m. a 12:00 m y 2:00 <br>
                    p.m a 6:00 p.m.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Información</h5>
                <p class="black-text text-lighten-4">
                    Atención al Ciudadano <br>
                    Línea Gratuita: 01 8000 942024 <br>
                    Tel: (57+8) 7428263 <br>
                    A raíz de la crisis actual se ha dispuesto <br> el siguiente canal de comunicación: <br>
                    Teléfono: (57+8) 7405626 extensión: 2580 <br>
                    Celular 318 5135940
                </p>
                <!-- <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align black-text">
            Institución de Educación Superior sujeta a inspección y vigilancia por el Ministerio de Educación
            Nacional.
            <br>
            © Copyright 2021 UPTC - Departamento de Innovación Académica
        </div>
    </div>