<div class="carousel">
    <a class="carousel-item" href="#"><img
            src="../../../assets/images/editorialuptc.jpg" width = 362 height =300></a>
    <a class="carousel-item" href="#"><img src="../../../assets/images/inscripciones.jpg" width = 362 height =300></a>
    <a class="carousel-item" href="#"><img src="../../../assets/images/convenio.jpg" width = 362 height =300></a>
    <a class="carousel-item" href="#"><img src="../../../assets/images/pin.jpg" width = 362 height =300></a>
    <a class="carousel-item" href="#"><img src="../../../assets/images/pin2021.jpg" width = 362 height =300></a>
</div>
<div class="prueba"></div>