<script src="https://kit.fontawesome.com/1bd51393bb.js" crossorigin="anonymous"></script>

<div class="topnav" id="myTopnav">
  <a href="https://www.facebook.com/universidaduptc" target=”_blank”>
    <img src="../../../assets/images/facebook.png" width="25" height="25" alt="" class="img-responsive"></a>

  <a href="https://www.instagram.com/universidaduptc/" target=”_blank”>
    <img src="../../../assets/images/instagram.png" width="25" height="25" alt="" class="img-responsive"></a>

  <a href="https://www.youtube.com/channel/UC2Msd-vi6PsH_6q3JJKcAOw" target=”_blank”>
    <img src="../../../assets/images/youtube.png" width="25" height="25" alt="" class="img-responsive"></a>

  <b href="#search"><img src="../../../assets/images/lupa.png" width="25" height="25" alt="" class="img-responsive"></b>
  <div class="inputs" ><input class="form-control mr-sm-2" type="search" placeholder="Búsqueda" aria-label="Search"></div>
  
</div>