<script src="https://kit.fontawesome.com/1bd51393bb.js" crossorigin="anonymous"></script>

<link href="./nav-bar-encabezado1.component.css" rel="stylesheet" type="text/css">

<div class="topnav" id="myTopnav">
  <a href="https://www.facebook.com/universidaduptc" target=”_blank”><i class="fab fa-facebook-square"></i></a>
  <a href="https://www.instagram.com/universidaduptc/" target=”_blank”><i class="fab fa-instagram"></i></a>
  <a href="https://www.youtube.com/channel/UC2Msd-vi6PsH_6q3JJKcAOw" target=”_blank”><i class="fab fa-youtube-square"></i></a>
  <input class="form-control mr-sm-2" type="search" placeholder="Busqueda">
  <b href="#search"><i class="fas fa-search"></i></b>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"> <i class="fa fa-bars"></i></a>
</div>