.topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    //font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: rgb(255, 204, 51);
    color: black;
  }
  
  .topnav input {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    //font-size: 25px;
  }

  .topnav .inputs {
    float: right;
    display: block;
    color: #ffffff;
    font-size: 25px;
    
  }

  .topnav b {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav b:hover {
    background-color: rgb(255, 204, 51);
    color: black;
  }